[SddmGreeterTheme]
Name=Breeze-Officium
Name[ar]=نسيم أوفيس
Name[az]=Breeze-Officium
Name[be]=Breeze-Officium
Name[bg]=Breeze-Officium
Name[ca]=Brisa-Officium
Name[ca@valencia]=Brisa-Officium
Name[cs]=Breeze-Officium
Name[da]=Breeze-Officium
Name[de]=Breeze-Officium
Name[el]=Breeze-Officium
Name[en_GB]=Breeze-Officium
Name[eo]=Breeze-Officium
Name[es]=Brisa-Officium
Name[eu]=Breeze-Officium
Name[fi]=Breeze-Officium
Name[fr]=Breeze-Officium
Name[gl]=Brisa-Officium
Name[he]=בריזה אוFFICIUM
Name[hu]=Breeze-Officium
Name[ia]=Breeze-Officium (Brisa)
Name[id]=Breeze-Officium
Name[is]=Breeze-Officium
Name[it]=Brezza-Officium
Name[ka]=Breeze-Officium
Name[ko]=Breeze-Officium
Name[lt]=Breeze-Officium
Name[lv]=Breeze-Officium
Name[nb]=Breeze-Officium
Name[nl]=Breeze-Officium
Name[nn]=Breeze-Officium
Name[pa]=ਬਰੀਜ਼ ਔਫਿਸੀਅਮ
Name[pl]=Bryza-Officium
Name[pt_BR]=Breeze-Officium
Name[ro]=Breeze-Officium
Name[ru]=Breeze-Officium
Name[sa]=वायुः ऑफिसियम
Name[sk]=Vánok-Officium
Name[sl]=Sapica-Officium
Name[sv]=Breeze-Officium
Name[ta]=பிரீஸ் ஆபிஸ்
Name[tr]=Esinti-Officium
Name[uk]=Breeze-Officium
Name[zh_CN]=Breeze-Officium 微风
Name[zh_TW]=Breeze-Officium
Description=Breeze-Officium
Description[ar]=نسيم أوفيس
Description[az]=Breeze-Officium
Description[be]=Breeze-Officium
Description[bg]=Breeze-Officium
Description[ca]=Brisa-Officium
Description[ca@valencia]=Brisa-Officium
Description[cs]=Breeze-Officium
Description[da]=Breeze-Officium
Description[de]=Breeze-Officium
Description[el]=Breeze-Officium
Description[en_GB]=Breeze-Officium
Description[eo]=Breeze-Officium
Description[es]=Brisa-Officium
Description[eu]=Brisa-Officium
Description[fi]=Breeze-Officium
Description[fr]=Breeze-Officium
Description[gl]=Brisa-Officium
Description[he]=בריזה אוFFICIUM
Description[hu]=Breeze-Officium
Description[ia]=Breeze-Officium (Brisa)
Description[id]=Breeze-Officium
Description[is]=Breeze-Officium
Description[it]=Brezza-Officium
Description[ka]=Breeze-Officium
Description[ko]=Breeze-Officium
Description[lt]=Breeze-Officium
Description[lv]=Breeze-Officium
Description[nb]=Breeze-Officium
Description[nl]=Breeze-Officium
Description[nn]=Breeze-Officium
Description[pa]=ਬਰੀਜ਼ ਔਫਿਸੀਅਮ
Description[pl]=Bryza-Officium
Description[pt_BR]=Breeze-Officium
Description[ro]=Briză-Officium
Description[ru]=Breeze-Officium
Description[sa]=वायुः ऑफिसियम
Description[sk]=Vánok-Officium
Description[sl]=Sapica-Officium
Description[sv]=Breeze-Officium
Description[ta]=பிரீஸ் ஆபிஸ்
Description[tr]=Esinti-Officium
Description[uk]=Breeze-Officium
Description[zh_CN]=Breeze-Officium 微风
Description[zh_TW]=Breeze-Officium
Author=KDE Visual Design Group
Copyright=(c) 2014, David Edmundson
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=plasma-devel@kde.org
Theme-Id=breeze-officium
Theme-API=2.0
QtVersion=6
